*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}



/* home page */



.home{
    background-color: rgba(59, 144, 200, 0.788);
}
.container{
    height: 100vh;
    display: grid;
    /* grid-template-rows: 20vh 80vh; */
}

.navbar{
    display: flex;
    position: fixed;
    width: 100vw;
    justify-content: end;
    font-size: 30px;
    padding: 40px;    
}
nav a{
    color:white;
    text-decoration:none;
   padding-left: 15px;

   
}

a:hover{
    color: #000099;
}

button a{ 
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.button{
    transition: .3s;
    box-shadow: 0px 3px 3px black;
}
.button:hover{
    scale: 1.2;
    color: aliceblue;
    font-size: 15px;
} 

.content{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 10%;
    align-items: center;
}

.text{
   
    font-size: 30px;
    text-align: center;

}

.text p{
    padding:3%;

}
.image{
    text-align: center;
}
.content-image{
    width: 500px;
}
.button{
    color: black;
    border-radius: 100px;
    border-color: white;
    padding: 3px;
    width: 200px;
    height: 50px;
}

p{
    padding-bottom: 20px;
}

/* //about page// */



.container2{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color:paleturquoise;
    padding: 5%;
    justify-items: center;
    align-items: center;
}
.column2{
    font-size:30px;
    text-align: center;
}
.column1 img{
border-radius: 100px;
width: 400px;
}


/* //skills page// */



#skills{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5%;
    align-items: center;
    justify-items: center;
    
}
#skills li{
    list-style-type:none;

}
.skil{
     font-size: 40px;
    text-align: center;
    padding: 100px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20%;
    height:fit-content;
    width: fit-content;
    background-color:rgb(142, 201, 199);
    transition: .3s;
    
}

.skil:hover{
    scale: 1.1;
    background-color: azure;
     
}

/* ==project page==== */



#projects{
    text-align: center;
    display: grid;
   padding: 10% 5% 10% 5%;
   background-color:rgb(142, 201, 199) ;
}
#projects h2{
    font-size: 3em;
  
  
}

.image-box{
    
    display: flex;
    justify-content: space-around;
}

.img-box{
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 7px;
    background-color: rgb(142, 201, 199);
    transition: .3s;
   height: fit-content;
   width: fit-content;
   cursor: pointer;
   padding: 2%
   
}
.img-box img{
   width: 20vw;
}
.img-box:hover{
    scale: 1.2;
}


/* //contact page// */



#contact{
    display: grid;
    grid-template-columns: 50% 50%;
  
    justify-items: center;
    align-items: center;
}
.para1 p{

    font-size: 30px;
    margin-top: 2%;    
}
.para1 h2{

    font-size: 50px;

}
.image4 img{
border-radius: 15%;
width: 30vw;
}
.icons{
    font-size:48px;
    padding-right: 20px;
}



/* mobile screens */
@media (max-width: 480px) {
    .navbar{
        font-size: 15px;
        padding: 20px;    
    }
    nav a{
       padding-left: 5px;
    }

    .text{
        font-size: 15px;
    }
   
    .content-image{
        width: 45vw;
    }
    .button{
        width: 50px;
        height: 25px;
        font-size: 8px;
    }
    .button:hover{
        font-size: 8px;
    }
    .column2{
        font-size: 10px;
    }
    .column1 img{
        border-radius: 100px;
        width: 40vw;
        height: 80vh;
        }
        .skil{
            font-size: 10px;
           padding: 20px;
       }

       .image5 img{
        width: 40vw;
       }
       .image-box {
      
        display: flex;
        justify-content: space-around;
    }
    #projects h2{
        font-size: 15px;
    }
    .img-box img{
        height: 25vh;
     }
     .para1 p{

        font-size: 10px;
        margin-top: 2%;    
    }
    .para1 h2{
    
        font-size: 15px;
    
    }
    .icons{
        font-size:28px;
        padding-right: 20px;
    }
}
/* tablets and desktop */

@media (min-width: 481px) and (max-width: 767px){
    .navbar{
        font-size: 15px;
        padding: 20px;    
    }
    nav a{
       padding-left: 5px;
    }
    
    .text{
        font-size: 15px;
    }
   
    .content-image{
        width: 45vw;
    }
    .button{
        width: 50px;
        height: 25px;
        font-size: 8px;
    }
    .button:hover{
        font-size: 8px;
    }
    .column2{
        font-size: 10px;
    }
    .column1 img{
        border-radius: 100px;
        width: 40vw;
        height: 80vh;

        }
        .skil{
            font-size: 20px;
           padding: 20px;
       }

       .image5 img{
        width: 40vw;
       }
       #projects h2{
        font-size: 15px;
    }
    .img-box img{
        height: 25vh;
     }
     .para1 p{

        font-size: 10px;
        margin-top: 2%;    
    }
    .para1 h2{
    
        font-size: 15px;
    
    }
    .icons{
        font-size:28px;
        padding-right: 20px;
    }
}