*{
    margin: 0%;
    padding: 0%;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}

.home{
    background-color: rgba(59, 144, 200, 0.788);
}
.container{
    height: 100vh;
    display: grid;
    grid-template-rows: 20vh 80vh;
}

.navbar{
   
    font-size:30px;
    margin-left: 60%;
    padding-top: 40px;
    position: fixed;
    
}
nav a{
    color:white;
    text-decoration:none;
   padding-left: 15px;

   
}

a:hover{
    color: black;
}

button a{ 
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.button{
    transition: .3s;
    box-shadow: 0px 3px 3px black;
}
.button:hover{
    scale: 1.2;
    color: aliceblue;
    font-size: 15px;
} 

.content{
    display: grid;
    grid-template-columns: 50% 50%;
}

.text{
   
    font-size: 30px;
    text-align: center;
    padding-top:350px;
    margin-left: 20%;

}
.text h2{
    background-color: white;
    border-radius: 30px;
}
.text p{
    padding:3%;

}
.image{
    
    padding-bottom:300px;
    margin-left: 20%;
    margin-top:250px;
}
.button{
    color: black;
    border-radius: 100px;
    border-color: white;
    padding: 3px;
    width: 200px;
    height: 50px;
}

p{
    padding-bottom: 20px;
}

/* //about page// */



.container2{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color:paleturquoise;
}
.column2{
    width: 70%;
    font-size:30px;
    text-align: center;
    margin-top:350px;
    margin-left: 10%;
}
.column1{
    margin-left:200px;
    margin-top:200px;
}

/* //skills page// */



#skills{
    display: grid;
    grid-template-columns: 50% 50%;
   
    
}
#skills li{
    list-style-type:disc;

}
.skil{
     font-size: 40px;
    text-align: center;
    padding: 100px;
    margin-top:30%;
    margin-left: 30%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20%;
    height:fit-content;
    width: fit-content;
    background-color:rgb(142, 201, 199);
    transition: .3s;
    
}

.skil:hover{
    scale: 1.1;
    background-color: azure;
     
}
.image5{
    padding-top: 40%;
  
    margin-left:200px;

}

/* ==project page==== */
#projects{
    text-align: center;
    display: grid;
    grid-template-rows:25% 50% 25% ;
}
#projects h2{
    font-size: 3em;
    padding-top:180px;
  
}

.image-box{
    margin-top: 7%;
    display: flex;
    justify-content: space-around;
}

.img-box{
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 7px;
    background-color: rgb(142, 201, 199);
    transition: .3s;
   height: 250px;
   width: 350px;
   cursor: pointer;
   
}
.img-box img{
    margin-top:5%;
}
.img-box:hover{
    scale: 1.2;
}


/* //contact page// */



#contact{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: paleturquoise;
}
.para1 p{
    text-align: center;
    font-size: 30px;
    margin-top:35px;
   margin-left: 250px;
   color:blue;
    
}
.para1 h2{
    margin-left:20px;
    text-align: center;
    font-size: 50px;
    margin-top: 350px;
}
.image4{

    margin-top: 330px; 
    padding-left: 200px;
}
.icons{
    padding-bottom: 50px;
    margin-left: 250px;


}